@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-logo text-right">
    <h1>World Data</h1>
    <p class="lead">The World's Population at Your Fingertips.</p>
    <p><a class="btn btn-primary btn-lg">Make Your Chart</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>About This Project</h3>
                <p>
                    World Data uses Quandl data, in particular the Thomas Brinkoff: City Populations data set. The charts are created using d3.js, and the application is built using C#/.NET MVC, Web Api, Angular, and JavaScript.
                    <ul>
                        <li>Quandl</li>
                        <li>Thomas Brinkoff: City Populations</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-md-offset-1">
        <h3>About Kate</h3>
        <p>Kate is a software developer in the C#/.NET stack. Kate's goal in any development project is to make even the most complicated data and processes seem simple. With a background in design and information science, Kate loves data visualizations and solving puzzles.</p>
        <p>
            <a href="http://www.katerebekah.com">Kate's Portfolio</a> | <a href="http://www.github.com/katerebekah">Kate's GitHub</a> | <a href="http://www.linkedin.com/in/katerebekah">Kate's LinkedIn</a>
        </p>
    </div>
</div>
