
@{
}
<script>var chartId = @ViewBag.chartId;</script>
<div ng-app="worldData">
    <div ng-controller="profileCtrl">
        <div class="panel panel-default">
            <div class="panel-body text-center">
                <h2>Looks like you haven't created a chart yet.</h2>
                <br />
                <button class="btn btn-lg btn-primary" ng-click="GetCountries()">Let's Get Started</button>
                <br />
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Choose A Country</div>
            <div class="panel-body row">
                <div class="col-md-3" ng-repeat="Country in Countries">
                    <div class="text-small" ng-click="GetCitiesinCountry(Country.$id)">{{Country.Name}}</div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Choose A City</div>
            <div class="panel-body">
                <div class="col-md-3" ng-repeat="City in Cities">
                    <div class="text-small" ng-click="AddCityToChart(City)">{{City.Name}}</div> 
                </div>
            </div>
        </div>

    </div>
</div>